<h1>Add a Course</h1>

<form action="/course/list" method="post">
  <label for="course-name">New Course</label>
  <input type="text" name="course-name" class="form-control">
  <label for ="course-number">Course Number</label>
  <input type="text" name="course-number" class="form-control">
  <button type="submit" class="btn" name="button">Add Course</button>
</form>

<a href="/course/list">View Categories</a>
<a href="/">HomePage</a>
