<h1>University Registrar</h1>
<h2>Add new course</h2>
<hr />
<form action="/courses/new" method="post">
  <label for="course-name">Course name:</label>
  <input id="course-name" name="course-name" type="text">
  <label for="course-number">Course number:</label>
  <input id="course-number" name="course-number" type="text">
  <button type="submit">Add</button>
</form>
<h4><a href="/">Return home</a></h4>
