<h1>Add a new student</h1>
<form action="/students/new" method="post">
  <label for="student-name">Student name:</label>
  <input id="student-name" name="student-name" type="text">
  <label for="student-enrollment">Enrollment date:</label>
  <input id="student-enrollment" name="student-enrollment" type="date">
  <button type="submit">Add new student</button>
</form>
<p><a href="/">Back home</a></p>
<p><a href="/students">View all students</a></p>
